<mat-spinner style="margin: auto" *ngIf="isLoading$ | async"></mat-spinner>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hotelNameString }}</mat-card-title>
    <mat-card-subtitle>{{ addressString }} </mat-card-subtitle>
    <mat-card-subtitle>{{ selectedHotel.mobileNo }} </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<div>
  <mat-card class="card" *ngFor="let menuItem of selectedHotel.menuItems">
    <div>{{ menuItem.itemName }}</div>
    <div>
      <button mat-button color="accent" (click)="addToCart(menuItem)">
        Add To Cart
      </button>
    </div>
  </mat-card>
</div>
