<div>
  <mat-card *ngIf="selectedHotel$ | async as selHotel">
    <mat-card-header>
      <mat-card-title> {{ selHotel.hotelName }}</mat-card-title
      ><mat-card-subtitle
        >{{ selHotel.mobileNo }}
      </mat-card-subtitle></mat-card-header
    >
    <button mat-button (click)="clearCart()">Clear Cart</button>
  </mat-card>
  <mat-card *ngIf="!(selectedHotel$ | async) as noHotel">
    <mat-card-title>{{ message }}</mat-card-title>
  </mat-card>
  <mat-card class="card" *ngFor="let cartItem of cartItems$ | async">
    <div>{{ cartItem.item.itemName }}</div>
    <div>
      <button
        mat-button
        color="warn"
        (click)="decreaseQuantity(cartItem.item.id)"
      >
        -
      </button>
      <span>{{ cartItem.quantity }}</span>
      <button
        mat-button
        color="primary"
        (click)="increaseQuantity(cartItem.item.id)"
      >
        +
      </button>
    </div>
  </mat-card>
</div>
