<div>
  <mat-card *ngIf="selectedHotel$ | async as selHotel">
    <mat-card-header>
      <mat-card-title> {{ selHotel.hotelName }}</mat-card-title
      ><mat-card-subtitle
        >{{ selHotel.mobileNo }}
      </mat-card-subtitle></mat-card-header
    >
    <button mat-button (click)="clearCart()">Clear Cart</button>
  </mat-card>
  <!-- <mat-card *ngIf="!(selectedHotel$ | async) as noHotel"> -->
  <div *ngIf="message != null">
    <h2 style="text-align: center">
      <b>{{ message }}</b>
    </h2>
  </div>
  <mat-card class="card" *ngFor="let cartItem of cartItems$ | async">
    <div>
      <mat-card-content style="font-weight: 400">{{
        cartItem.item.itemName
      }}</mat-card-content>
      <mat-card-content style="font-weight: bold"
        >Rs. {{ cartItem.item.itemPrice }}</mat-card-content
      >
    </div>

    <div>
      <button
        mat-button
        color="warn"
        (click)="decreaseQuantity(cartItem.item.id)"
      >
        -
      </button>
      <span>{{ cartItem.quantity }}</span>
      <button
        mat-button
        color="primary"
        (click)="increaseQuantity(cartItem.item.id)"
      >
        +
      </button>
      <button mat-button (click)="removeSingleItem(cartItem.id)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-card>

  <div
    *ngIf="message == null"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
  >
    <h3 style="margin: auto">Total Amount:</h3>
    <h3 style="margin: auto">Rs. {{ totalAmount$ | async }}</h3>
  </div>
</div>
