<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">FoodMan</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="(isAuthenticated$ | async) && !(isAdmin$ | async)">
        <button mat-button routerLink="/cart" routerLinkActive="mat-accent">
          Cart
        </button>
      </li>
      <li *ngIf="!(isAuthenticated$ | async)">
        <button mat-button routerLink="/auth" routerLinkActive="mat-accent">
          Authorize
        </button>
      </li>
      <li *ngIf="isAdmin$ | async">
        <button
          mat-button
          routerLink="/hotelCreate"
          routerLinkActive="mat-accent"
        >
          Create Hotel
        </button>
      </li>
      <li *ngIf="isAuthenticated$ | async" routerLinkActive="mat-accent">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
