/* mat-card {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

mat-form-field {
  width: 100%;
} */

mat-spinner {
  margin: auto;
}
.main-div mat-card {
  padding: 0px;
  overflow: hidden;
}
.signup-form {
  padding: 20px;
}
