<mat-card>
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  <form (submit)="onSubmit(hotelForm)" #hotelForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="hotelName"
        ngModel
        type="text"
        placeholder="Hotel Name"
        required
        autocapitalize="words"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="mobileNo"
        ngModel
        type="text"
        placeholder="Mobile No"
        required
        maxlength="10"
        minlength="10"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="addressLine1"
        ngModel
        type="text"
        placeholder="Address Line 1"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="addressLine2"
        ngModel
        type="text"
        placeholder="Address Line 2"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="city"
        ngModel
        type="text"
        placeholder="City"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <mat-select ngModel name="state">
        <mat-option *ngFor="let state of states" [value]="state">
          {{ state }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="country"
        [(ngModel)]="country"
        type="text"
        placeholder="Country"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="pincode"
        ngModel
        type="text"
        placeholder="PIN Code"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Create Hotel</button>
  </form>
</mat-card>
